# FontAwesome Pro packages require an auth token.
# This file configures the registry for @fortawesome scoped packages.
# Without a valid token, `npm install` will fail for pro packages.
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
